<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Top 10 Universities</h1>
        <div class="card-container">
            {% for uni in universities %}
            <a href="{{ url_for('university_detail', id=uni.id) }}" class="card-link">
                <div class="card">
                  <img src="{{ url_for('static', filename='university.webp') }}" alt="{{ uni.name }}">
                  <div class="card-body">
                        <h5 class="card-title">{{ uni.name }}</h5>
                        <p class="card-text">ID: {{ uni.id }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>