<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ university.name }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ university.name }} Details</h1>
        <div class="university-detail">
          <img src="{{ url_for('static', filename='university.webp') }}" alt="{{ university.name }}">
          <p><strong>Types:</strong> {{ university.types | join(', ') }}</p>
          <p><strong>Strength:</strong> {{ university.strength }}</p>
        </div>
        <!-- Chart container -->
        <div class="university-stats">
            <img src="data:image/png;base64,{{ chart_url }}" alt="University Statistics">
        </div>
        <p><a href="{{ url_for('index') }}">Back to all universities!!!!!</a></p>
    </div>
</body>
</html>